{{# each initiativeOrder }}
    <p class='initiativeEntry' name='{{ name }}'>{{ name }}: {{ total }} (<input type="number" readonly="readonly" id="value" value={{ value }}> +<input type="number" readonly="readonly" id="mod" value={{ mod }}>)
    {{# if ../modPerms}}
         <input type="Submit" id="delete" value="Delete"></p>
    {{/ if}}
{{/ each }}